@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #f0f0f0;
  width: 100%;
  position: fixed; /*position t3 il header tetharekch ki nji na3mel scroll  */
  z-index: 999; /* hedi bech ykoun il header howa dima dhaher ki nji na3mel scroll */
  display: flex;
  justify-content: space-between; /* houni 9a3d na3mel fi espace mabinet les liens */
  align-items: center; /* les liens ykono fi centre */
  padding: 10px 200px; /* les liens yeb3do ala il border  */
}

.logo {
  text-decoration: none; /* nahit il star ili mawjoud taht il lien*/
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em; /* il unite em heya t3awed il pixels , ya3ni par default 3ana il body mahtout fi 16px w ki na3mel 1.8em X 16 =28.8 px w tkoun dima il em relatif lil pixels ili mahtout fil body */
}

.navigation a {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.navigation a:hover {
  color: #601cfc;
}
