@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #f0f0f0;
  width: 100%;
  position: fixed; /*position t3 il header tetharekch ki nji na3mel scroll  */
  z-index: 999; /* hedi bech ykoun il header howa dima dhaher ki nji na3mel scroll */
  display: flex;
  justify-content: space-between; /* houni 9a3d na3mel fi espace mabinet les liens */
  align-items: center; /* les liens ykono fi centre */
  padding: 10px 200px; /* les liens yeb3do ala il border  */
}

.logo {
  text-decoration: none; /* nahit il star ili mawjoud taht il lien*/
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em; /* il unite em heya t3awed il pixels , ya3ni par default 3ana il body mahtout fi 16px w ki na3mel 1.8em X 16 =28.8 px w tkoun dima il em relatif lil pixels ili mahtout fil body */
}

.navigation a {
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.navigation a:hover {
  color: #601cfc;
}

section {
  padding: 100px 200px;
}
.main {
  width: 100%; /*bech tkon il main fi kobr il page*/
  min-height: 100vh; /*hedi taille relatif a9al haja (vh:view port)  */
  display: flex;
  align-items: center;
  background-image: url(images/resolution.jpg);
  background-size: cover; /*taswira tcoveri les elements lo5rin w tji kamla */
  background-position: center;
  background-attachment: fixed; /*ya3ni ki tji ta3mel scroll taswira metetharakich */
}

.main h2 {
  color: #f0f0f0;
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 3em;
  font-weight: 600;
}

.main h3 {
  color: #f0f0f0;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: #f0f0f0;
  background-color: #3e6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block; /*badelt il a tag lil inline block bech najem nethakem fih fil margin wil bottom */
  padding: 0.9375em 2.187em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: #0a49f6;
  transform: scale(
    1.1
  ); /*hedi t5ali il button ki t3adi aleha souris tekbar b 10% bil taille te3ha */
}

.social-icons a {
  color: #f0f0f0;
  font-size: 1.7em;
  padding-left: 30px;
}

.title {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; /*wa9tli yebda ma3adech 3andi blasa lil cards ki nsagher wla nzid fil cards ywalliw bil wrap property yjiw taht b3adhom */
}

.card {
  background-color: #f0f0f0;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}
.icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}
.info {
  text-align: center;
}

.info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
